{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}

<!-- 소셜 로그인을 위한 모듈 load -->
{% load socialaccount %}

{% block content %}

<!-- 소셜 로그인을 위해 socialaccount 안에 있는 providers_media_js 필터 호출 -->
{% providers_media_js %}

<div class="col-md-8">

    <!-- 로그인 실패 시 에러 메세지 띄우기 -->
    {% if error %}
    <div class="alert alert-danger mt-3">
        {{ error }}
    </div>
    {% endif %}

    <h1>로그인</h1>

    <form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}

        <!-- 아이디 정보 받기 -->
        <div class="mb-3 col-md-6">
            <label class="form-label" for="username">아이디</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="아이디를 입력해주세요!">
        </div>

        <!-- 비밀번호 정보 받기 -->
        <div class="mb-3 col-md-6">
            <label class="form-label" for="password">비밀번호</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요!">
        </div>

        <!-- 로그인 버튼 -->
        <div class="mb-3">
            <button type="submit">로그인</button>
        </div>


    </form>

<!-- 소셜 로그인 코드 -->

<!-- provider_login_url이라는 필터를 사용해서 google, kakao provider에 로그인 주소를 가지고 올 수 있게 해주는 코드 -->
<a href="{% provider_login_url 'google' %}">구글 로그인</a>
<a href="{% provider_login_url 'kakao' %}">카카오 로그인</a>
</div>


{% endblock %}
