{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}


{% block content %}
<div class="col-md-8">

    <!-- 로그인 실패 시 에러 메세지 띄우기 -->
    {% if error %}
    <div class="alert alert-danger mt-3">
        {{ error }}
    </div>
    {% endif %}

    <h1>로그인</h1>

    <form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}

        <!-- 아이디 정보 받기 -->
        <div class="mb-3 col-md-6">
            <label class="form-label" for="username">아이디</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="아이디를 입력해주세요!">
        </div>

        <!-- 비밀번호 정보 받기 -->
        <div class="mb-3 col-md-6">
            <label class="form-label" for="password">비밀번호</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요!">
        </div>

        <!-- 로그인 버튼 -->
        <div class="mb-3">
            <button type="submit">로그인</button>
        </div>


    </form>

</div>


{% endblock %}
