/* 공지사항 소개 */
#board_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#board_info_title {
    font-size: 28px;
    font-weight: 400;
}


/* 공지사항 게시판 */
#board_frame {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#board_table:hover tbody tr:hover td {
    background: #FBF8F8;
}


/* 글쓰기 버튼 */
#create_button_frame {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

#create_button {
    background-color: #DAC4EC;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
}


/* 페이지네이션 관련 */
#pagination_frame {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* 페이지 버튼 */
.pagination > li > a {
    background-color: white;
    color: #141414;
}

/* 페이지 액티브 버튼 */
.pagination > .page-item.active > .page-link {
    background-color: #DAC4EC;
    border: solid 1px #DAC4EC;
}


/* 게시글 조회 버튼 */
#post_button {
    text-decoration: none;
    color: black;
}