/* 브랜드 상세 페이지 탑 이미지 프레임 */
.brand_top_image_frame {
    width: 100%;
    height: 400px;
    overflow: hidden;
}


/* 브랜드 상세 페이지 탑 이미지 */
.brand_top_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* 브랜드 로고 이미지 프레임 */
.brand_logo_image_frame {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px #D3D3D3;
    margin-left: auto;
    margin-right: auto;
}



/* 브랜드 로고 이미지 */
.brand_logo_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* 브랜드 로고 이미지 info */
.brand_logo_info_frame {
    width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}



/* 브랜드 홈페이지 버튼 */
.brand_homepage_button {
    border: 1.5px solid black;
    border-radius: 5px;
    background-color: #DAC4EC;
    padding: 3px 10px 4px 10px;
    font-size: 15px;
    color: black;
}



/* 브랜드 설명 프레임 */
.brand_info_frame {
    width: 1000px;
    height: 600px;
    padding-left: 20px;
    padding-right: 20px;
}



/* 브랜드 상품 Carousel */
#carouselExampleControls {
    width: 600px;
    height: 500px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}


.carousel-inner {
    width: 100%;
    height: 100%;
}