/* 사회문제 소개 */
#problem_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#problem_info_title {
    font-size: 28px;
    font-weight: 400;
}



/* 사회문제 종류 선택하기 */
#problem_frame {
    display: flex;
    justify-content: center;
    border: 1px solid #535353;
    border-radius: 5px;
}


.problem_title {
    font-size: 18px;
    margin-top: 15px;
    font-weight: 700;
}


.problem_button {
    background: inherit;
    border: none;
}



/* 선택된 사회문제 보여주기 */
#selected_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


.selected_title {
    font-size: 28px;
    font-weight: 400;
}


.selected_short_content {
    margin-top: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}



/* 사회문제 이미지 */
.selected_img_frame {
    width: 800px;
    height: 600px;
    overflow: hidden;
}


.selected_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* 사회문제 content */
.selected_content {
    width: 50%;
    height: 300px;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}


/* 관련 브랜드 보여주기 */
.selected_brand {
    width: 50%;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.selected_brand_title {
    font-size: 28px;
}


.selected_brand_info {
    font-weight: 700;
    font-size: 20px;
}