{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block style %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impact Museum</title>

    <!-- 자바스크립트 코드 -->
    <script type="text/javascript">
        var user = '{{request.user}}'
    </script>
</head>
<body>
    {% block content %}
    {% endblock %}


<!-- 자바스크립트 코드 -->
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>    
</body>
</html>