{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'products/css/main.css' %}">
{% endblock %}

{% block content %}  


    <!-- 상품 목록 리스트 title -->
    <div class="product-container-info">
        <p class="product-container-info-text">오늘의 신상품</p>
        <span>최근에 추가된 상품들을 구매해 보세요!</span>
    </div>

    <!-- 상품 목록 리스트 -->
    <div class="col-xs-12 col-md-12" id="product_container">
        
        {% for product in products %}   
            <div class="col-xs-3 col-md-6" id="product_list">     
                    <div class="product_image_frame">
                        <a href="{% url 'products:detail' product.id %}">
                            <img id="product_image" src="{{ product.imageURL }}" alt="상품 이미지">
                        </a>
                    </div>    
                    <div class="product_info">    
                        <h1 class="product_info_brand">{{ product.brand }}</h1>
                        <h2 class="product_info_name">{{ product.product_name }}</h2>
                        <h3 class="product_info_price">{{ product.price|floatformat:"0g" }}원</h3> 
                    </div>    
            </div>    
        {% endfor %}    
                         
    </div>

{% endblock %}    


