{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'posts/css/board_create.css' %}">
{% endblock %}

{% block content %}
<!-- 글 작성 페이지 소개 -->
<div class="row">
    <div class="col-lg-12 col-md-12" id="board_create_info">
        <p id="board_create_info_title">(관리자 전용)공지사항 게시글 작성하기</p>
        <p>주의사항 : 카테고리를 최대한 구분해서 작성해주세요!</p>
    </div>
</div>


<!-- 글 작성하기 -->
<div class="row">
    <div class="col-lg-10 col-md-10" id="board_create_frame">
        <div class="write_container">
            <!-- 글 정보 form -->
            <form method="POST" action="">
                {% csrf_token %}

                <!-- 글 작성 및 카테고리, 상단 고정 여부 선택 버튼 -->
                <div class="button_container">
                    <!-- 카테고리 선택 -->
                    <select name="category" id="board_category">
                        <option disabled selected>카테고리 선택</option>
                        {% for category in posts_category %}
                        <option value="{{ category.0 }}">{{ category.1 }}</option>
                        {% endfor %}
                    </select>

                    <!-- 상단 고정 여부 선택 -->
                    <div class="top_fixed_container">
                        <input type='checkbox' name='top-fixed' value='True'/> 상단에 고정하기
                    </div>

                    <button id="create_button" type="submit">작성하기</button>
                </div>

                <!-- 글 작성 정보 받기 -->
                <div class="mb-4">
                    <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력해주세요.">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="body" name="body" cols="30" rows="5" placeholder="내용을 입력해주세요."></textarea>
                </div>
            </form>
        </div>
    </div>    
</div>
{% endblock %}