{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>장바구니 화면</h3>



<div>
    <table>
        <tr>
            <th>상품명</th>
            <th>가격</th>
            <th>옵션</th>
            <th>수량</th>
            <th>총액</th>
            <th><button><a href="{% url 'posts:checkout' %}">구매하기</a></button></th>
            <th><button><a href="">삭제하기</a></button></th>
        </tr>

        {% for item in items %}
        <tr>
            <th><img src="{{ item.product.imageURL }}" width="100px" height="100px">{{ item.product.product_name }}</th>
            <th>{{ item.product.price|floatformat:"0g" }}원</th>
            <th>옵션</th>
            <th>{{ item.quantity }}</th>
            <th>{{ item.get_total|floatformat:"0g" }}원</th>
            <th><button><a href="{% url 'posts:checkout' %}">구매하기</a></button></th>
            <th><button><a href="">삭제하기</a></button></th>
        </tr>
        {% endfor %}
    </table>

    <div>
        <p>총 수량: {{ order.get_cart_items }}개</p>
        <p>총 금액: {{ order.get_cart_total|floatformat:"0g" }}원</p>
    </div>
</div>

{% endblock %}