{% load static %}

<h3>결제 화면</h3>

<form action="">
    <div>
        <h4>수령자 정보<h4>
        <input type="text" placeholder="수령인">
        <input type="text" placeholder="휴대전화">
        <input type="text" placeholder="배송지 주소">
        <input type="text" placeholder="배송 메모">
    </div>
</form>


<h4>상품 정보</h4>
<table>
    <tr>
        <th><img src="{% static 'posts/images/gattaca.png' %}" width="100px" height="100px">상품명</th>
        <th>가격</th>
        <th>옵션</th>
        <th>수량</th>
    </tr>
</table>
    

<button><a href="">~~~원 결제하기</a></button>