{% extends 'base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'posts/css/detail.css' %}">
{% endblock %}


{% block content %}  
    <div class="col-md-8" id="detail_container">
        {% if post %}    
        <div class="detail_image_frame">
            <img class="detail_image" src="{{ post.imageURL }}" alt="상품 상세 이미지">
        </div>

        <div class="detail_info">
            <h1>{{ post.product_name }}</h1>
            <h2>{{ post.brand }}</h2>
            <h3>{{ post.price|floatformat:"0g" }}원</h3>

            <!-- 장바구니 & 구매하기 버튼 -->
            <button data-post="{{post.id}}" data-action="add" class="cart-update"><a href="{% url 'posts:cart' %}">장바구니에 담기</a></button>
            <!-- 장바구니 클릭 버튼에 data attribute를 추가해서 클릭하는 순간, 데이터를 함께 보내주기 -->
            <!-- cart-update라는 클래스 이름으로 cart.js라는 자바스크립트 파일과 연동되어있음 -->
            <button><a href="{% url 'posts:checkout_id' post.id %}">구매하기</a></button>
            <button><a href="">찜하기</a></button>
        </div>
        {% else %}
        {% endif %}
    </div> 

    <a href="{% url 'posts:edit' post.id %}">상품 정보 수정하기</a>
    <a href="{% url 'posts:index' %}">상품 목록으로 돌아가기</a>
    <a href="{% url 'posts:delete' post.id %}">해당 상품 삭제하기</a>

{% endblock %} 