{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'posts/css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 추가</title>
</head>
<body>
    <h1>상품 추가하기</h1>
    <form method="POST" action="{% url 'posts:create' %}">
        {% csrf_token %}
        <div>
            <label for="product_name">상품 이름</label>
            <input id="product_name" type="text" name="product_name">
        </div>
        
        <div>
            <label for="product_brand">상품 브랜드</label>
            <input id="product_brand" type="text" name="brand">
        </div>    

        <input type="submit" value="상품 추가하기">
    </form>

    <a href="{% url 'posts:index' %}">상품 목록으로 돌아가기</a>
</body>
</html>